.a
{
    margin-left: 60px;
    margin-top: 5vw; 
}

.b
{
    margin-left: 140px;
    margin-top: -1.3vw; 
}

.c
{
    margin-top: -0.8vw;
    margin-left: 1168px;
}

.paragraph
{
    margin-left: 945px;
    margin-top: -2vw;
}
.x
{
    background-color: yellow;
    border: 2px solid #2c2c2c;
    border-radius: 10px;


}

.colored-border{
    
    border-color: green;
    border-width: 2px;
}
